
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

:root {
	--under-color: #009688;
}

body {
	/* margin: 50px 150px; */
	margin: auto;
	margin-top: 10px;
	width: 90vmin;
	
	background-color: whitesmoke;
	
	color: #222;
	font-family: 'Signika Negative', sans-serif;
	/* text-align: justify; */
}

ul {
	padding-inline-start: 30px;
	list-style-type: none;
}

li {
	margin-block: 10px;
}

.invalid-input {
	border: 1px solid #E91E63 !important;
}

.caret {
	cursor: pointer;
	-webkit-user-select: none; 
	user-select: none;
}

.caret::before {
	content: "+";
	font-size: 14pt;
	font-family: monospace;
	color: gray;
	display: inline-block;
	width: 15px;
}

.caret-down::before {
	content: "-";
}

.caret-found-match {
	box-shadow: -2px 0px 0px 0px var(--under-color);
    display: block;
    margin: 0 -5px;
    padding: 0 5px;
}

.nested { display: none; }
.active { display: block; }

hr { 
	width: 100%;
}

#view-res {
	/* width: 50%; */
}

img {
    display: block;
    width: auto;
    max-width: 20vmax;
    /* display: inline; */
	margin: 30px auto;
	border-radius: 7px;
}

img[src="images/000018.png"] {
	display: inline;
	margin: 0;
} 

.proposition__image--brackets03-en {
	width: 10vmax;
}

.panel {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-block: 20px;
}

#find-request {
	padding: 10px 12px;
	
	height: 20px; min-height: 20px;
	width: 40vmin; 
	max-width: 46vmin; min-width: 50px;
	
	background-color: #00000000;
	border: 1px solid;
	box-shadow: 5px 5px 15px 0px #0000001f;

	text-align: left;
	font-size: .95rem;
	font-family: 'Signika Negative', sans-serif;
}
#find-request:focus-visible {
	outline: 0;
	border: 1px solid var(--under-color);
}

#lang-sel {
	margin: 10px;
	font-size: 1.2em;
	color: gray;
}

#lang-sel:hover {
	color: var(--under-color);
}

.checked {
	color: #222 !important;
	text-decoration: underline;
}

th {
	text-align: left;
	font-weight: 100;
	font-size: 0.8em;
}

.translations {
	text-decoration: underline;
    font-family: monospace;
    font-size: 0.85em;
    display: inline;
    margin-inline: 3px;
    font-style: italic;
}
